<!--<div id="id_#id#" class="eqLogic eqLogic-widget allowResize allowReorderCmd" data-version="#version#" style="height:#height#;width:#width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" class="telco" >-->
<div id="id_#id#" class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="background-color: #background-color#;border:#border#;border-radius:#border-radius#;width: #width#;height: #height#;#style#; padding : 0px;" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">	
	
	<span class="statusCmd"></span>
	<style  type="text/css">
		#id_#id# {
			box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		
		}
		
		#id_#id#:before, .effect8:after
		{
			content:"";
			position:absolute; 
			z-index:-1;
			box-shadow:0 0 20px rgba(0,0,0,0.8);
			top:10px;
			bottom:10px;
			left:0;
			right:0;
			border-radius:100px / 10px;
		} 
		
		#id_#id#:after
		{
			right:10px; 
			left:auto; 
			transform:skew(8deg) rotate(3deg);
		}
		
		#id_#id# button{
		
		  color: #000;
		  background: #444;
		  background: linear-gradient( #555, #2C2C2C);	 	
		  display: inline-block;
		  *display: inline;
		  zoom: 1;
		  margin: 2px;
		  cursor: pointer;
		  border: 1px solid #bbb;
		  overflow: visible;
		  font: bold 13px arial, helvetica, sans-serif;
		  text-decoration: none;
		  white-space: nowrap;
		  background-color: #ddd;
		  height:35px;
		  width:55px;
		  transition: background-color .2s ease-out;
		  background-clip: padding-box; /* Fix bleeding */
		  border-radius: 5px;
		  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
						 0 -1px 0 rgba( 255, 255, 255, 0.4);
		  text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2); 
		}
		
		#id_#id# button:hover{
			 color: #222;
			 background: #555;
			 background: linear-gradient( #777, #333);
		}
		
		#id_#id# button:active{
			 color: #000;
			 background: #444;
			 background: linear-gradient( #555, #2C2C2C);
			 box-shadow: 1px 1px 10px black inset, 
						 0 1px 0 rgba( 255, 255, 255, 0.4);
		}
					  
	</style>

	<center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
		<span class="reportModeVisible" style="display:none;color:white;">#name_display# <span style="font-size: 0.85em;">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden" style="#hideEqLogicName#" title="#name#">#name_display# <span>#object_name#</span></a>
	</center> 

	<div class="telco" style="display:inline-block; padding:10px;text-align: center;">
		<div style="margin: 10px auto;">
		</div>
        <div style="display: inline-table">
        	<center>
			#cmd#
            </center>
        </div>        
	</div>	
    <script>
        $(function() {
          $('.telco .cmd').on('click', function() {
              jeedom.cmd.execute({id: $(this).data('cmd_id')});
          });
		  $('.telco custom_telco').children('i').addClass('fa-2x')
        });
    </script>
</div>

